/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
body
{
    
    background: url("./assets/bg.png") no-repeat;
    height: 560px;
    width:1500px;
    /* background-size: contain; */
    /* overflow: hidden; */
    background-size: 1280px 569px;
    overflow: hidden;
    box-sizing: border-box;
    margin: auto;
    

}
.list>li
{
    /* list-style: none; */
    display: inline-block;
    padding:10px 30px;
    color:white;
}
.navbar>div>img
{
    height: 50%;
    width: 50%;
    /* justify-content: flex-end; */
    /* border: 1px dotted red; */
    /* padding:18px; */
    /* position: relative;
    left: 55px; */
    margin-top: 16px;
    margin-left:70px
    
}

.navbar
{
    display: flex;
    padding-top: 0px;
    height:70px;
    width:1500px;
    /* border: 1px solid yellow; */
    justify-content: flex-start;
    box-sizing: border-box;
    background-color: black;
    margin-top: 0px
}
.navbar>.grow-list
{
  /* border: 1px solid orange; */
  margin-left:-28px;
  margin-right:450px;
  /* padding: 10px 0px; */
}
.hero
{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items:center;
    /* border:1px dotted yellow; */
    margin-top: -70px;
    margin-right: 350px;
    
}
.hero-heading
{
    color:white;
    font-size: 65px;
    font-family: monospace;
    padding-left: 300px;
    /* border: 1px dotted red; */
    position: relative;
    bottom: -50px;
    margin-right: 190px;
    word-spacing: -23px;
    margin-left: 1px;
    text-indent: 20px;
    line-height: 70px;
    /* line-height: 68px; */
    /* padding-right: 40px; */
    
    /* padding-bottom: 50px; */
}
.hero-description
{
    color:white;
    font-family: monospace;
    font-size: 20px;
    position: relative;
    bottom: 29px;
    word-spacing: -6px;
    text-indent: 18px;
    padding:15px 0px
}
.button-large
{
    padding: 10px 12px ;
    /* width:200px; */
    border-radius: 8px;
    font-size: 20px;
    background-color:#ff1493;
    color: white;
    word-spacing: -3px;
    font-family: monospace;
    margin-top: -25px;
    border:none;
    
}
.list>li:first-child::after{
 font-family:'Material Icons';
 content: 'expand_more';
 /* height: 350px; */
 /* border: 1px solid red; */
 /* width:20px; */
 position: relative;
 top:5px;
 padding-left: 3px;
 /* margin-top: 20px; */


}
.navbar>div:last-child
{
    /* margin-right: 100px; */
    
    /* border: 1px solid white; */
    position: absolute;
    right: 90px;
    top: 20px;
    /* margin: auto; */
    margin: auto;
}
.navbar>div:last-child>.button-small
{
    /* margin-right: 100px; */
    padding: 10px 25px;
    border-radius: 6px;
    background-color:#ff1493;
    color: white;
    font-family: monospace;
    word-spacing: -5px;
    border:none;
}
.navbar>.line
{
    /* width: 0px; */
          /* height: 1px; */
          margin-top: 10px;
          margin-bottom: 10px;
          border:1px solid white;
          margin-left: 12px;
}