/* You can not modify anything from the HTML file */
/* You can only modify the CSS file */
  @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
body{
    /* height: 560px; */
    /* width:1220px; */
    overflow: hidden;
    box-sizing: border-box;
    /* border: 1px solid blueviolet; */
    margin-top:8vh;
    margin-left:5vw;
    margin-right:5vw;

}

.navbar-container>div>.list
{
    display: flex;
    position: relative;
    bottom: 3vh;
}
.hero-container
{
    display: flex;
}
.navbar-container>div>.list>li
{
list-style: none;
padding-right:3vw;
font-size: 3vh;
font-family: 'Orbitron', sans-serif;
}
.navbar-container
{
    display: flex;
    justify-content: space-between;
    height:10vh;
    
}
.navbar-container>.button-group
{
    display: flex;
    /* margin-right: 3vw; */
    /* margin-top: 3vh; */
}
.navbar-container>div>img
{
    height:7vh
}
.navbar-container>.button-group>.search-icon>svg
{

    /* border: 1px solid red; */
    height: 4vh;
    /* margin-top: 3vh; */
    padding-right: 0.2vw;
    margin-top: 0.5vh;
    border-radius: 0.5vh;
    background-color: smokewhite;
}
.navbar-container>.button-group>div>button
{
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 3vh;
    margin-top: 0.05vh;
    border-radius: 1.5vh;
    color: #808080;

}
.hero-container>.square>img
{
    height:40vh;
    width:20vw;
    /* border: 1px solid green; */
    margin-top: 41vh;
    margin-left: 8vw;
}
.hero-container>.globe>img
{
    height:9vh;
    width:3.5vw;
    margin-left: 13vw;
    position: relative;
    bottom: 1.5vh;
}
.hero-container>div>img
{
    height:70vh;
    width:24vw;
    position: absolute;
    left:5vw;
    top:23vh;
}
.hero-container-right
{
    margin-top: 12vh;
}
.hero-heading
{
font-family: 'Orbitron', sans-serif;
margin-left:-20vw;
font-size: 9.8vh;
position: relative;
bottom: 6vh;
}
.hero-container>.square+.star>img
{
    height: 6vh;
    width:4vw;
    position: absolute;
    right:7vw;
    top:21vh;
}
.hero-container>.square+.star+.star>img
{
    height: 6vh;
    margin-left: 3vw;
    position: relative;
    top: 70vh;
    left:4vw
}
.hero-container>.square+.star>img
{
    height: 6vh;
    width:4vw;
    position: absolute;
    right:7vw;
    top:21vh;
}
.hero-description
{
    position: relative;
    right: 9vw;
    bottom:10vh ;
    line-height: 5vh;
    /* text-indent: 5vw; */
    text-align: center;
}
.hero-container-right>div>button
{
font-family: 'Orbitron', sans-serif;
 position: relative;
 bottom: 5vh;
}
.button-email
{
    padding-left:1.5vw;
    padding-right: 1.5vw;
    border-radius: 0.5vh;
    background-color: white;
    
}
.button-join
{
    /* padding-left:1.5vw; */
    background-color: black;
    color: whitesmoke;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
    border-radius: 1vh;
    margin-left: 1vw;
}
.contact-heading
{
   padding-left: 6vw; 
   visibility: hidden;
}
.contact-heading::after
{
    visibility: visible;
    content: "Contact Us";
    position: relative;
    right: 5vw;
    color: #808080;
    font-family: Arial, Helvetica, sans-serif;
}
.icons>span>img
{
    height: 4vh;
    width: 2vw;
    padding-left: 1.5vw;
}
.icons
{
    padding-left: 2vw;
}

.navbar-container>div>.list>li:nth-child(2)
{
    order:4
}
.navbar-container>div>.list>li:nth-child(3)
{
    order:3
}
.navbar-container>div>.list>li:nth-child(4)
{
    order:5
}
.navbar-container>div>.list>li:nth-child(5)
{
    order:6
}
.navbar-container>div>.list>li
{
    font-weight: 600;
}
.navbar-container>div>.list>li:first-child
{
    text-underline-offset:;
}


