body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
#color
{
    padding: 25px;
    font-size: 25px;
    border-radius: 25px;
    background-color: silver;
}